#login {
  margin-top: 5rem;
  h1 {
    text-align: center;
  }
  form {
    width: 60%;
    margin: 2rem auto;
  }
  .form-group {
    margin-bottom: 1rem;
    .form-input {
      width: 100%;
      padding: 1rem;
      border: 1px solid #eee;
    }
  }
  #button-wrapper {
    text-align: center;
    button {
      background: rgb(70, 196, 246);
      color: #fff;
      padding: 0.5rem 2.5rem;
      border-radius: 5px;
      border: 1px solid skyblue;
      cursor: pointer;
    }
  }
}
